@import '../../../../mixings.scss';
@import '../../../../variables.scss';

.NavItems{
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
  margin-right: 1rem;
}

.NavItem {
  margin-right: 2rem;
}

.NavItemText {
  display: none;
  margin: 1.25rem 0;
  font-size: 2rem;
  color: $light-secondary-dark;
  &.DarkMode {
    color: $dark-secondary-light;
  }
}

.NavItemImg {
  height: 4rem;
  filter: $filter-light-secondary-dark;
  &.DarkMode {
    filter: $filter-dark-secondary-light;
  }
}

.NavItemLink {
  text-decoration: none;
}

@include respond(phone){
  .NavItems {
    flex-direction: column;
    align-items: start;
    margin-right: 0;
  }
  .NavItem {
    margin-right: 0;
    &Text {
      display: block;
    }
    &Img {
      display: none;
    }
  }
 
}